Pillow
PyQt5
diffusers
google
anthropic
PyMuPDF
httpx
opencv-python
pydub
python-docx
pytube
moviepy
qiskit
qiskit-ibm-runtime
matplotlib
wmi
psutil
google-cloud-vision
msgraph-sdk
azure-identity
torch
netifaces
scapy
python-bidi

